
html{
  font-size: 10px;
  background: white;
}

body{
  overflow: hidden;
  background: white;
  color: white;
}

@media (prefers-color-scheme: dark){
  html body{
    background-color: white;
    color: black;
  }
}

.unset-country-code-flags{
  width: 100% !important;
  border: 0 !important;
  padding: 0 !important;
  flex-grow: 1;
  align-items: center;
}