:root {
  --swiper-pagination-color: #3a86ff;
  /* --swiper-theme-color: #3A86FF; */
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 2px;
  --swiper-pagination-bullet-size: 6px;
}
html {
  font-size: 10px;
  background: white;
}

body {
  /* overflow: hidden; */
  background: white;
  color: white;
}

@media (prefers-color-scheme: dark) {
  html body {
    background-color: white;
    color: #222222;
  }
}

.unset-country-code-flags {
  width: 100% !important;
  border: 0 !important;
  padding: 0 !important;
  flex-grow: 1;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.ReactFlagsSelect-module_disabledBtn__3A4GF {
  background-color: transparent !important;
  cursor: not-allowed !important;
}

input:checked ~ .custom-toggle-dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

/* input::-webkit-calendar-picker-indicator {
} */
::selection {
  background: #3a86ff;
  color: #fff;
}

.styled-scrollbar::-webkit-scrollbar {
  height: 1px; /* Width of the scrollbar */
  border-radius: 100px;
  width: 3px;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: #3a85ff22; /* Track color */
  border-radius: 100px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: #3a86ff; /* Thumb color */
  border-radius: 100px;
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3a86ff; /* Thumb color on hover */
}
.fqFVxM {
  display: inline-block;
  vertical-align: top;
  stroke: currentColor;
  fill: currentColor;
  color: #3a86ff;
  height: 1em;
  width: 1em;
  height: 80px;
  width: 80px;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
